@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  place-items: center;
  min-height: 100vh;
}
@font-face {
  font-family: 'SFMedium';
  src: url('./assets/fonts/SF-ProDisplay/SFProDisplay-Medium.OTF');
}
@font-face {
  font-family: 'SFHeavy';
  src: url('./assets/fonts/SF-ProDisplay/SFProDisplay-Heavy.ttf');
}
@font-face {
  font-family: 'SFRegular';
  src: url('./assets/fonts/SF-ProDisplay/SFProDisplay-Regular.OTF');
}

